spring:
  config:
    import:
      - optional:classpath:application-kafka.yml

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MariaDBDialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

  mongodb:
    uri: ${MONGO_URL}

langchain4j:
  google-ai-gemini:
    chat-model:
      api-key: ${GEMINI_API_KEY}
      model-name: gemini-3-flash-preview

logging:
  level:
    root: info

security:
  jwt:
    hmac-secret: ${JWT_SECRET}

springdoc:
  swagger-ui:
    path: /doc/gamification/swagger-ui.html
  api-docs:
    path: /doc/gamification/v3/api-docs
